:root {
    --primary-text-color: #111518;
    --secondary-text-color: #3d3d3d;
    --tertiary-text-color: #b9b9b9;  
    --subtitle-text-color: #ff6b09;
    --primary-bg-color: #ffffff;
    --secondary-bg-color: #111518;
    --tertiary-bg-color: #f1f1f1;
    --accent-color: #ff6b09;
  }