<section class="section section--paddingTop" id="about"> 
    <div class="container section__about ">
     <h2 class="section-title about" > Teacher</h2>
      <div class="about_section"> 
     <picture class="about__pic">
   
       <source srcset="images/about/teacher_desktop.webp 1x, images/about/teacher_desktop@2x.webp 2x" media="(min-width:1680px)"
         type="image/webp">
   
       <source srcset="images/about/teacher_mobile.webp 1x, images/about/teacher_mobile@2x.webp 2x" media="(min-width:768px)"
         type="image/webp">
   
       <source srcset="images/about/teacher_mobile.webp 1x, images/about/teacher_mobile@2x.webp 2x" media="(max-width:767.98px)"
         type="image/webp">
   
       <source srcset="images/about/teacher_desktop.jpg 1x, images/about/teacher_desktop@2x.jpg 2x" media="(min-width:1680px)">
   
       <source srcset="images/about/teacher_mobile.jpg 1x, images/about/teacher_mobile@2x.jpg 2x" media="(min-width:768px)">
   
       <source srcset="images/about/teacher_mobile.jpg 1x, images/about/teacher_mobile@2x.jpg 2x" media="(max-width:767.98px)">
   
       <img src="images/about/teacher_mobile.jpg" alt="young woman"/>
     </picture>
 
    <div class="description-teacher-section">
     <h3 class="teacher-name name-underline">Elena Morozova</h3>

     <ul class="experience">
       <li class="experience__item experience__checkmark">
         <p class="experience__description">6 yeards of experience in preparing students for UPE </p>
       </li>
       <li class="experience__item experience__checkmark">
         <p class="experience__description">Own result of passing VNO - 197 points 2 years in a row </p>
       </li>
        <li class="experience__item experience__checkmark">
         <p class="experience__description">Passed excellent at the international analogue of UPE - Cambridge PET (Preliminary English Test) </p>
       </li>
       </ul>
       <div class="experience__history">
     <p class="history-item">Graduated from the Institute of International Relations of the NAU with a degree in
       translator-analyst.
      <p class="history-item">In spare time takes courses from the best universities in the world on effective teaching and essay writing
       techniques.</p> 
       <p class="history-item">Completed: English Grammar and Essay Writing (Berkeley), English Grammar & Style (The University of Queesland),
       How to
        Write an Essay (Berkeley), Academic and Business Writing (Berkeley), The Art of Teaching (GEMS education),
       Powerful
       Tools for Teaching and Learning (University of Houston).</p>
     </p>
     </div>
     <a class="certificate-link" href=" "> Cambrige English Entry Level Certificate </a>
           </div>
         </div>


         </div>
  </section>