<section class="benefits section">

	<div class="container benefits__container">
		<div class="benefits__wrapper">
			<h2 class="section-title section-title--left">Why do people choose us</h2>
			<ul class="benefits__list headings__counter">
				<li class="benefits__item">
					<p class="benefits__counter"></p>
					<h3 class="benefits__title card__title">Training in small groups</h3>
				</li>
				<li class="benefits__item">
					<p class="benefits__counter"></p>
					<h3 class="benefits__title card__title">Rendered notes</h3>
				</li>
				<li class="benefits__item">
					<p class="benefits__counter"></p>
					<h3 class="benefits__title card__title">Each lesson has a goal and a specific result</h3>
				</li>
				<li class="benefits__item">
					<p class="benefits__counter"></p>
					<h3 class="benefits__title card__title">The real results of the teacher</h3>
				</li>
				<li class="benefits__item">
					<p class="benefits__counter"></p>
					<h3 class="benefits__title card__title">The course program meets the requirements of the MES of Ukraine</h3>
				</li>
				<li class="benefits__item">
					<p class="benefits__counter"></p>
					<h3 class="benefits__title card__title">Set of groups by level of knowledge</h3>
				</li>
			</ul>
		</div>
	</div>
</section>