<section class="section contacts__section" id="contacts">
    <div class="container">
        <h2 class="contacts__title">Registration for a <span class="contacts__text--accent">free</span> phone <span class="contacts__text--accent">consultation</span> on the nuances of English UPE</h2>
    
        <p class="contacts__text">Leave a request for participation in a <span class="contacts__text--accent">free lesson</span>. <br>
                                  A consultant will contact you and answer your questions</p>
        
        <form class="contacts__form">
            <div class="contacts__form-block">
                <input class="contacts__form-input" type="text" name="name" placeholder="Name*"
                required minlength="2">
                <input class="contacts__form-input" type="tel" name="tel" placeholder="Phone*"
                required pattern="([A-z0-9_.-]{1,})@([A-z0-9_.-]{1,}).([A-z]{2,8})">
            </div>
            <button class="contacts__button" type="submit" >
                I want a free lesson
            </button>
        </form>
        
        
    </div>
</section>