
<footer class="footer-section">
    <div class="footer-wrapper container">
        <div class="light-theme">
            <div class="light-theme__wrapper">
            <a class="light-theme__link" href="">
                <svg class="light-theme__logo-icon" width="80" height="29">
                    <use href="./images/symbol-defs.svg#logo"></use>
                </svg>
            </a>
         
            <ul class="light-theme__list">
                <li class="light-theme__item">
                    <a class="light-theme__link" href="tel:+38(000)0000000">
                        <svg class="light-theme__icon" width="20" height="19">
                            <use href="./images/symbol-defs.svg#phone-icon"></use>
                        </svg>+38 (000) 000 00 00</a>
                </li>
                <li class="light-theme__item">
                    <a class="light-theme__instagram" href="https://www.instagram.com" target="_blank">
                    <img class="instagram-icon" src="./images/instagram-icon.png" alt="" /></a>
                </li>       
            </ul>
            </div>
        </div>
    </div>
    <div class="dark-theme">
        <p class="dark-theme__text">@ All rights reserved, 2019</p>
    </div>
</footer>
