<section class="section">
    <h2 class="section__title">We guarantee</h2>
    <div class="container">
    <ul class="guarantee">
        <div class="wrapper">
        <li class="guarantee__item">
            <a class="" href=""><svg class="" width="14.37" height="20">
                    <use href="./images/symbol-defs.svg#spark-icon"></use>
                </svg></a>
            You will pass the UPE with at least 25 points better than on the first practice test. Otherwise, we will refund your
        money.<span class="color">*</span></li>
        <li class="guarantee__item">
            <a class="" href=""><svg class="" width="14.37" height="20">
                    <use href="./images/symbol-defs.svg#spark-icon"></use>
                </svg></a>
            You will learn to write essays with at least 10 points out of 14. <span class="color">20% of the students received 0 for essays.</span></li>
        <li class="guarantee__item">
            <a class="" href=""><svg class="" width="14.37" height="20">
                    <use href="./images/symbol-defs.svg#spark-icon"></use>
                </svg></a>
            You will study in your area. We will choose the location for the classes after the teams have been formed.</li>
            </div>
        <li class="guarantee__item">
            <a class="" href=""><svg class="" width="14.37" height="20">
                    <use href="./images/symbol-defs.svg#spark-icon"></use>
                </svg></a>
            Teams will be formed based on the starting level of the students. We take into account the characteristics of each
        student.</li>
    </ul>
    </div>
</section>
