<section class="section guarantee-section">
    <h2 class="section__title">We guarantee</h2>
    <div class="guarantee-container">
        
    <ul class="">
        <!-- <div class="wrapper"> -->
        <li class="guarantee__item">
            
            <a class="" href=""><svg class="guarantee__icon" width="14.37" height="20">
                    <use href="./images/symbol-defs.svg#spark-icon"></use>
                </svg></a>
                
                <p class="guarantee__text">You will pass the UPE with at least 25 points better than on the first practice test. Otherwise, we will refund your
                money.<span class="color">*</span></p>
            </li>
        <li class="guarantee__item">
            <a class="" href=""><svg class="guarantee__icon" width="14.37" height="20">
                    <use href="./images/symbol-defs.svg#spark-icon"></use>
                </svg></a>
            <p class="guarantee__text">You will learn to write essays with at least 10 points out of 14. <span class="color">20% of the students received 0 for essays.</span></p></li>
        <li class="guarantee__item">
            <a class="" href=""><svg class="guarantee__icon" width="14.37" height="20">
                    <use href="./images/symbol-defs.svg#spark-icon"></use>
                </svg></a>
            <p class="guarantee__text">You will study in your area. We will choose the location for the classes after the teams have been formed.</p></li>
            <!-- </div> -->
        <li class="guarantee__item">
            <a class="" href=""><svg class="guarantee__icon" width="14.37" height="20">
                    <use href="./images/symbol-defs.svg#spark-icon"></use>
                </svg></a>
            <p class="guarantee__text">Teams will be formed based on the starting level of the students. We take into account the characteristics of each
        student.</p></li>
    </ul>
    
    </div>
</section>
