<header class="header">
    <div class="header-container container">


        <a href="">
            <svg class="logo-icon" width="80" height="30">
                <use href="./images/symbol-defs.svg#logo"></use>
            </svg>
        </a>
        <nav class="navigation">
        <ul class="nav-list">
            <li class="nav-list__item">
                <a href="" class="nav-list__link">Studying program</a>
            </li>
            <li class="nav-list__item">
                <a href="" class="nav-list__link">About</a>
            </li>
            <li class="nav-list__item">
                <a href="" class="nav-list__link">Training options</a>
            </li>
            <li class="nav-list__item">
                <a href="" class="nav-list__link">Contacts</a>
            </li>
        </ul>
        </nav>
        <button class="header-container__btn" type="button">consultation by phone</button>
        <button class="header-container__burger-btn" type="button" data-menu-open>
            <svg class="burger-btn__icon" width="21" height="12">
                <use href="./images/symbol-defs.svg#burger-icon"></use>
            </svg>
        </button>
    </div>
    
                            <!-- MOBILE MENU -->

<div class="mobile-menu container" data-menu>
    <div class="mobile-menu__container container"><svg class="logo-icon" width="80" height="30">
        <use class="icon" href="./images/symbol-defs.svg#burger-logo"></use>
    </svg>
    </a>
    <button class="close-btn" data-menu-close>
        <svg class="close-btn__icon" width="16" height="16">
            <use href="./images/symbol-defs.svg#close-burger-icon"></use>
        </svg>
    </button>
    <ul class="mobile-menu__list">
        <li class="mobile-menu__item">
            <a href="" class="mobile-menu__link">Studying program</a>
        </li>
        <li class="mobile-menu__item">
            <a href="" class="mobile-menu__link">About</a>
        </li>
        <li class="mobile-menu__item">
            <a href="" class="mobile-menu__link">Training options</a>
        </li>
        <li class="mobile-menu__item">
            <a href="" class="mobile-menu__link">Contacts</a>
        </li>
    </ul>
    <button class="hero-btn" type="button">consultation by phone</button>
</div>

        
    </div>
    <!-- <div class="header__container container">
        <a class="logo link" href="./index.html"><span class="logo-site">Web</span>Studio</a>
        <nav class="navigation">
            <ul class="nav-list list">
                <li class="nav-list__item"> <a class="nav-list__link link nav-list__link_current"
                        href="./index.html">Студия</a>
                </li>
                <li class="nav-list__item"> <a class="nav-list__link link" href="./portfolio.html">Портфолио</a></li>
                <li class="nav-list__item"> <a class="nav-list__link link" href="">Контакты</a></li>
            </ul>
        </nav>
        <button type="button" class="mobile-menu-btn " data-menu-open>
            <svg class="mobile-menu-btn__icon" width="40" height="40">
                <use href="./icons/sprite.svg#mobile-burger-icon"></use>
            </svg>
    
        </button>
    
        <ul class="header-container__list list">
            <li class="header-container__item">
    
                <a class="header-container__link link" href="mailto:info@devstudio.com">
                    <svg class="header-container__icon" width="16" height="12">
    
                        <use class="icon" href="./icons/sprite.svg#email"></use>
                    </svg>
                    info@devstudio.com</a>
            </li>
            <li class="header-container__item">
    
    
                <a class="header-container__link link" href="tel:+380961111111">
                    <svg class="header-container__icon" width="10" height="16">
    
                        <use href="./icons/sprite.svg#phone"></use>
                    </svg>+38 096 111 11 11</a>
            </li>
        </ul>
    </div> -->
    
    

    
    <!-- <div class="mobile-menu container" data-menu>
    
        <div class="container mobile-menu__container">
            <button class="mobile-menu__close-btn" data-menu-close>
                <svg class="mobile-menu__close-icon" width="40" height="40">
                    <use href="./icons/sprite.svg#icon-close"></use>
                </svg>
            </button>
    
            <ul class="mobile-menu__list">
                <li class="mobile-menu__item list"> <a class="mobile-menu__item-link link mobile-menu__item-link--current"
                        href="./index.html">Студия</a>
                </li>
                <li class="mobile-menu__item list"> <a class="mobile-menu__item-link link"
                        href="./portfolio.html">Портфолио</a></li>
                <li class="mobile-menu__item list"> <a class="mobile-menu__item-link link" href="">Контакты</a></li>
            </ul>
            <div class="flex-wrapper">
                <ul class="contact-menu list">
                    <li class="contact-menu__item ">
    
    
                        <a class="contact-menu__link link " href="tel:+380961111111">+38 096 111 11 11</a>
                    </li>
                    <li class="contact-menu__item">
    
                        <a class="contact-menu__link link " href="mailto:info@devstudio.com">info@devstudio.com</a>
                    </li>
    
                </ul>
                <ul class="socials-list">
                    <li class="socials-list__item list">
                        <a href="" class="socials-list__link link">Instagram</a>
                    </li>
                    <li class="socials-list__item list">
                        <a href="" class="socials-list__link link">Twitter</a>
                    </li>
                    <li class="socials-list__item list">
                        <a href="" class="socials-list__link link">Facebook</a>
                    </li>
                    <li class="socials-list__item list">
                        <a href="" class="socials-list__link link">LinkedIn</a>
                    </li>
                </ul>
            </div>
        </div>
    </div> -->
</header>
<script>
    (() => {
        const refs = {
            openMenuBtn: document.querySelector('[data-menu-open]'),
            closeMenuBtn: document.querySelector('[data-menu-close]'),
            menu: document.querySelector('[data-menu]'),
        };

        refs.openMenuBtn.addEventListener('click', toggleModal);
        refs.closeMenuBtn.addEventListener('click', toggleModal);

        function toggleModal() {
            refs.menu.classList.toggle('is-open');
        }
    })();

</script>
