<header class="header header-scroll">
    <div class="header-container container">

            <svg class="logo-icon-dark" width="128" height="45">
                <use href="./images/symbol-defs.svg#logo"></use>
            </svg>
    
        <nav class="navigation">
        <ul class="nav-list">
            <li class="nav-list__item">
                <a class="nav-list__link" href="#study" >Studying program</a>
            </li>
            <li class="nav-list__item">
                <a href="#about" class="nav-list__link">About</a>
            </li>
            <li class="nav-list__item">
                <a href="#training" class="nav-list__link">Training options</a>
            </li>
            <li class="nav-list__item">
                <a href="#contacts" class="nav-list__link">Contacts</a>
            </li>
        </ul>
        </nav>
        <button class="header-container__btn" type="button">consultation by phone</button>
        <button class="header-container__burger-btn" type="button" data-menu-open>
            <svg class="burger-btn__icon" width="21" height="12">
                <use href="./images/symbol-defs.svg#burger-icon"></use>
            </svg>
        </button>
    </div>
                            <!-- MOBILE MENU -->

<div class="mobile-menu" data-menu>
    <div class="mobile-menu__container container">
        <svg class="logo-icon" width="128" height="45">
            <use class="icon" href="./images/symbol-defs.svg#burger-logo" ></use>
        </svg>
        
    <button class="mobile-menu__close-btn" data-menu-close>
        <svg class="close-btn__icon" width="16" height="16">
            <use href="./images/symbol-defs.svg#close-burger-icon"></use>
        </svg>
    </button>
        <ul class="mobile-menu__list">
            <li class="mobile-menu__item">
                <a class="mobile-menu__link" href="">Studying program</a>
            </li>
            <li class="mobile-menu__item">
                <a class="mobile-menu__link" href="">About</a>
            </li>
            <li class="mobile-menu__item">
                <a class="mobile-menu__link" href="">Training options</a>
            </li>
            <li class="mobile-menu__item">
                <a class="mobile-menu__link" href="">Contacts</a>
            </li>
        </ul>
        <button class="header-btn" type="button">consultation by phone</button>
    </div>
</div>

        


</header>


<script>
    (() => {
        const refs = {
            openMenuBtn: document.querySelector('[data-menu-open]'),
            closeMenuBtn: document.querySelector('[data-menu-close]'),
            menu: document.querySelector('[data-menu]'),
        };

        refs.openMenuBtn.addEventListener('click', toggleModal);
        refs.closeMenuBtn.addEventListener('click', toggleModal);

        function toggleModal() {
            document.body.classList.toggle("modal-open")
            refs.menu.classList.toggle('is-open');
        }
    })();
    const header = document.querySelector(".header-scroll");
        window.addEventListener("scroll", () => {
            window.scrollY > 10
                ? header.classList.add("header--filled")
                : header.classList.remove("header--filled");
        })
</script>
