<section class="section">
    <div class="container"> 
        <div class="hero">
            <h2 class="hero__title section-title">Complex preparation for English UPE</h2>
        </div>
        <div class="hero-main">
            <p class="hero-main__text">It won&#180t be easy.</p>
            <h3 class="hero-main__title">But you&#180re guaranteed to get</h3>
            <p class="hero-main__points">+25 points</p>
        </div>
        <div class="hero-button">
            <button class="hero-button__order" type="button">I want a free lesson</button>
        </div>
    </div> 
</section>

