<section class="section section--paddingTop">
    <div class="container">
        <h2 class="title-how">How do we do it</h2>
        <ul class="how-project">
            <li class="how-project__card">
                <div class="how-project__position">
                    <svg class="how-project__icon">
                        <use href="./images/symbol-defs.svg#study-grammar-icon" >
                        
                        </use>
                    </svg>
                 </div>
                    <h3 class="how-project__titl"> Adapted program preparation for UPE </h3>
                    <p class="how-project__text">You will learn grammar and vocabulary at the same time. And you will learn how to write essays.</p>
            </li>         
            <li class="how-project__card">
                <div class="how-project__position">
                    <svg class="how-project__icon">
                        <use href="./images/symbol-defs.svg#study-classroom-icon">
            
                        </use>
                    </svg>
                </div>
                    <h3 class="how-project__titl">Classroom and online learning</h3>
                    <p class="how-project__text">The teacher will help not only in the classroom, but also during home
                        preparation.Parents can chat if they
                        wish.</p>
            </li>
            <li class="how-project__card">
                <div class="how-project__position">
                    <svg class="how-project__icon">
                        <use href="./images/symbol-defs.svg#study-read-icon" >
            
                        </use>
                    </svg>
                </div>
                    <h3 class="how-project__titl">The habit of reading in English</h3>
                    <p class="how-project__text">Articles from sources that are used in the development of this UPE will be received by phone twice a week.</p>
            </li>
            <li class="how-project__card">
                <div class="how-project__position">
                    <svg class="how-project__icon">
                        <use href="./images/symbol-defs.svg#study-support-icon" >
            
                        </use>
                    </svg>
                </div>
                    <h3 class="how-project__titl">Psychological support</h3>
                    <p class="how-project__text">We will teach you testing techniques, the ability to plan your confidence training in itself.</p>
            </li>
            <li class="how-project__card">
                <div class="how-project__position">
                    <svg class="how-project__icon">
                        <use href="./images/symbol-defs.svg#study-person-icon">
            
                        </use>
                    </svg>
                </div>
                    <h3 class="how-project__titl">Training on copyright manuals</h3>
                    <p class="how-project__text">You don't have to waste your time on a search for material and to buy anything extra. We have compiled 2
                    manuals for you.</p>
            </li>
            <li class="how-project__card">
                <div class="how-project__position">
                    <svg class="how-project__icon">
                        <use href="./images/symbol-defs.svg#study-speak-icon" >
            
                        </use>
                    </svg>
                </div>
                    <h3 class="how-project__titl">Ability to comprehend spoken English</h3>
                    <p class="how-project__text">“F.R.I.E.N.D.S” won't help you. You will listen regularly and analyze audio recordings in accordance with the
                    studied vocabulary.</p>
            </li>
        </ul>
    </div>
</section>