<section class="section problems__section" id="study">
    <div class="container problems__container">
        <h2 class="section-title problems__section-title">The main problems of students<br>
            in English UPE, which <br>we <span class="accent-text">help</span> to solve</h2>
        <div class="problems__wrapper ">
            <ol class="problems__list headings__counter">
                <li class="problems__item">
                    <p class="problems__counter"></p>
                    <h3 class="problems__title">
                        Grammar
                    </h3></li>
                <li class="problems__item">
                    <p class="problems__counter"></p>
                    <h3 class="problems__title">
                        Inability to understand spoken English
                    </h3></li>
                <li class="problems__item">
                    <p class="problems__counter"></p>
                    <h3 class="problems__title">
                        Stingy vocabulary for writing an essay
                    </h3></li>
                <li class="problems__item">
                    <p class="problems__counter"></p>
                    <h3 class="problems__title">
                        Preparing alone
                    </h3></li>
                <li class="problems__item">
                    <p class="problems__counter"></p>
                    <h3 class="problems__title">
                        Lack of a single knowledge resource
                    </h3></li>
                <li class="problems__item">
                    <p class="problems__counter"></p>
                    <h3 class="problems__title">
                        Lack of self-organization and laziness
                    </h3></li>
                </0l>
        </div>
    </div>
</section>