<section class="program section">
	<div class="container program__container">
		<h2 class="section-title section-title--white">Our program</h2>
		<ul class="program__list">
			<li class="program__item item">
				<h3 class="program__title">1 semester</h3>
				<ul class="item__list">
					<li class="item__item">
						<h4 class="item__title">Grammar</h4>
						<p class="item__text">Nouns & Articles Adjectives & Adverb</p>
					</li>
					<li class="item__item">
						<h4 class="item__title">Vocabulary</h4>
						<p class="item__text">Family & Relations People & Society</p>
					</li>
				</ul>
			</li>
			<li class="program__item item">
				<h3 class="program__title">2 semester</h3>
				<ul class="item__list">
					<li class="item__item">
						<h4 class="item__title">Grammar</h4>
						<p class="item__text">Pronouns Active Voice Passive Voice</p>
					</li>
					<li class="item__item">
						<h4 class="item__title">Vocabulary</h4>
						<p class="item__text">Home School Work</p>
					</li>
				</ul>
			</li>
			<li class="program__item item">
				<h3 class="program__title">3 semester</h3>
				<ul class="item__list">
					<li class="item__item">
						<h4 class="item__title">Grammar</h4>
						<p class="item__text">Modal verbs Infinitive Gerund Participle: 1, 2</p>
					</li>
					<li class="item__item">
						<h4 class="item__title">Vocabulary</h4>
						<p class="item__text">Travel & Tourism Culture & Free Time Sport</p>
					</li>
					<li class="item__item">
						<h4 class="item__title">Writing</h4>
						<p class="item__text">Informal Letter</p>
					</li>
				</ul>
			</li>
			<li class="program__item item">
				<h3 class="program__title">4 semester</h3>
				<ul class="item__list">
					<li class="item__item">
						<h4 class="item__title">Grammar</h4>
						<p class="item__text">Clauses: Conditional and Wishes Direct / Reported speech Preposition Conjunction
							Numeral</p>
					</li>
					<li class="item__item">
						<h4 class="item__title">Vocabulary</h4>
						<p class="item__text">Healthy Living Nature & Environment Money </p>
					</li>
					<li class="item__item">
						<h4 class="item__title">Writing</h4>
						<p class="item__text">Formal Letter</p>
					</li>
				</ul>
			</li>
			<li class="program__item item">
				<h3 class="program__title">5 semester</h3>
				<ul class="item__list">
					<li class="item__item">
						<h4 class="item__title"></h4>
						<p class="item__text">Revision<br>Tests</p>
					</li>
				</ul>
			</li>
		</ul>
		<div class="program__pic-wrapper">
			<picture class="program__pic">

				<source srcset="/images/desktop/program.webp 1x, /images/desktop/program@2x.webp 2x" media="(min-width:1680px)" type="image/webp">

				<source srcset="/images/tablet/program-2.webp 1x, /images/tablet/program@2x-2.webp 2x" media="(min-width:768px)" type="image/webp">

				<source srcset="/images/mobile/program-3.webp 1x, /images/mobile/program@2x-3.webp 2x" media="(max-width:767.98px)" type="image/webp">

				<source srcset="/images/desktop/program.jpg 1x, /images/desktop/program@2x.jpg 2x" media="(min-width:1680px)">

				<source srcset="/images/tablet/program-2.jpg 1x, /images/tablet/program@2x-2.jpg 2x" media="(min-width:768px)">

				<source srcset="/images/mobile/program-3.jpg 1x, /images/mobile/program@2x-3.jpg 2x" media="(max-width:767.98px)">

				<img src="/images/mobile/program-3.jpg" alt="Фото Игоря Демьяненко" />
			</picture>
		</div>
	</div>
</section>