.certificate-link {
    font-family: 'Montserrat';
        font-weight: 500;
        font-size: 18px;
        line-height: 28px;
        text-decoration-line: underline;
        color: var(--accent-color);
}
.color{
    background-color: aqua;
}
.text-color{
    color: blueviolet;
}