
.header-container__btn{
    display: none;
}
.header-container{
    @media screen and (max-width:1679px){
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

}
@media screen and (max-width:1679px) {
    .navigation{
        display: none;
    }
}
.logo-icon{
    width: 80px;
    height: 29px;
}
.logo-icon-dark{
    width: 80px;
    height: 29px;
}
.header {
    position: relative;
    width: 100vw;
    padding-top: 20px;
    padding-bottom: 20px;

}
.header-container__burger-btn{
    background: none;
    border: none;
    cursor: pointer;
}
.mobile-menu__container{
    position: relative;
}
.mobile-menu__close-btn {
    position: absolute;
    background-color: transparent;
    right: 20px;
    border: none;
    padding: 0;

}


.mobile-menu {
    position: fixed;
    display: flex;

    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;
    background-color: #fff;
    z-index: 200;
}

.mobile-menu.is-open {
    overflow: auto;
    opacity: 1;
    visibility: visible;
    pointer-events: initial;
    z-index: 1000;
    background-color: rgba(17, 21, 24, 0.9);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}
.mobile-menu__container {
    margin-top: 20px;
    overflow: auto;
}
.mobile-menu__list{
    margin-top: 40px;
}
.mobile-menu__link{
    font-weight: 800;
    font-size: 20px;
    line-height: 1.80;
    
    letter-spacing: 0.03em;
    
    color: #FFFFFF;
}
.mobile-menu__link:hover,
.mobile-menu__link:focus{
color: #FF6B09;
}
.mobile-menu__item:not(:first-child){
margin-top: 16px;
}
.header-btn{
    margin-top: 40px;
    padding: 17px 45px;
    background-color: transparent;
    border: 2px solid #FF6B09;
    font-weight: 700;
    font-size: 12px;
    line-height: 0.8;
    align-items: center;
    text-align: center;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    
    color: #FF6B09;
}
@media screen and (min-width: 768px){
    .header-container__btn {
        display: block;
        padding: 17px 45px;
        margin-left: auto;
        background-color: transparent;
        border: 2px solid #FF6B09;
        font-weight: 700;
        font-size: 12px;
        line-height: 0.8;
        align-items: center;
        text-align: center;
        letter-spacing: 0.08em;
        text-transform: uppercase;
        
        color: #FF6B09;
    }

    .header-container__burger-btn{
        margin-left: 40px;
    }
    .header-btn{
        display: none;
    }
    .mobile-menu__list{
        position: absolute;
        margin-top: 80px;
        top: 20%;
        left: 50%;
        margin-right: -35%;
        transform: translate(-35%, -40%)

    }
    .mobile-menu__link {
        font-size: 26px;
    }
    .logo-icon {
        width: 128px;
        height: 45px;
    }

    .logo-icon-dark {
        width: 128px;
        height: 45px;
    }
    .logo-icon{
    margin-left: -8px;
    margin-top: -2px;
    }
}

.header{
    position: fixed;
    z-index: 100;
    top: 0;
    &--filled{
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: rgba(255, 255, 255, 0.9);
    }
}
.header-container{
    position: relative;
}
.content{
margin-top: 90px;
text-align: center;
}

@media screen and (min-width: 1680px) {
    .navigation{
        display: flex;
        margin-left: auto;
    }
    .header-container__burger-btn{
        display: none;
    }
    .header-container{
        display: flex;
        align-items: center;
    }
    .nav-list{
        display: flex;
    }
    .nav-list__item{
        margin-right: 40px;
    }
    .nav-list__link{
        font-weight: 800;
        font-size: 14px;
        line-height: 0.82;
        
        letter-spacing: 0.03em;
        
        text-transform: uppercase;
        
        color: #B9B9B9;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        &:hover,
        &:focus{
            color: #FF6B09;
        }
    }

    .header-container__btn{
        margin: 0;
    }
}

body.modal-open{
    overflow: hidden;
}

