.title-how{
    font-weight: 800;
    size: 20px;
    line-height: 1.3;
    text-align: center;
    letter-spacing: 0.03em;
    
    color: var(--primary-text-color);

    margin-bottom: 32px;
    @media screen and(min-width:768px) {
        margin-bottom: 40px;
}
}
 .how-project {
    /*  display: flex;
     flex-wrap: wrap; */

    @media screen and(min-width:768px) {
        display: flex;
        flex-wrap: wrap;
     } 

 }
.how-project__card {
    
    justify-content: center;
    background: #FFFFFF;
    box-shadow: 0px 8px 26px rgba(0, 0, 0, 0.1);
    transition: box-sizing 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin-bottom: 16px;

   &:nth-child(5),
   &:nth-child(6){
       margin-bottom: 40px;
   } 

    @media screen and(min-width:768px) and(max-width:1679.98px) {
    width: calc((100% - 2 * 32px) / 2);
    margin-right: 16px;
    margin-left: 16px;
    margin-bottom: 24px;
     &:nth-child(2n){
         margin-right: 0;
     }
     
    @media screen and(min-width:1680px) {
     width: calc((100% - 3 * 32px) / 3);
     }
    }
}
/*
    @media screen and(min-width:1200px) {
        width: calc((100% - 3 * 30px) / 3);

        &:nth-child(3n) {
            margin-right: 0px;
        }

        &:nth-last-child(-n + 3) {
            margin-bottom: 0px;
        }

    } */

.how-project__card:focus,
.how-project__card:hover {
    background-color: var(--accent-color);
}
.how-project__position {

    display: flex;
    align-items: center;
    justify-content: center;

}
.how-project__icon {
    width: 100%;
    height: 48px;
    margin-top: 32px;
    fill:var(--subtitle-text-color);
}
.how-project__card:focus .how-project__icon,
.how-project__card:hover .how-project__icon {
    fill:var(--primary-bg-color);
}
.how-project__titl {
    font-weight: 700;
    size: 14px;
    line-height: 1.43;
    text-align: center;
    letter-spacing: 0.08em;
        
    color: var(--primary-text-color);
    
    margin-top: 32px;
    margin-bottom: 4px;
}

.how-project__text {
    font-weight: 500;
    size: 12px;
    line-height: 1.67;
    text-align: center;
    letter-spacing: 0.08em;
    
    color: var(--tertiary-text-color);

    margin: 4px 8px 8px 8px;
    
}
.how-project__card:focus .how-project__titl,
.how-project__card:hover .how-project__titl,
.how-project__card:focus .how-project__text,
.how-project__card:hover .how-project__text,
.how-project__card:hover .dash,
.how-project__card:hover .dash{
    color: var(--primary-bg-color);
}
.dash{
    font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 164.9%;   
       
        letter-spacing: 0.08em;
    
        color:var(--subtitle-text-color);
}
.groop{
    align-items: center;
    text-align: center;
}





